<h1>Acesse sua conta</h1>
<p>Preencha seus dados</p>

<form [formGroup]="loginForm">
  <div>
    <label for="email-input">Email</label>
    <input type="email" formControlName="email" class="form-control" id="email-input" placeholder="Digite seu email" required>
  </div>
  <div>
    <label for="senha-input">Senha</label>
    <input type="password" formControlName="senha" class="form-control" id="senha-input" placeholder="Digite sua senha" required>
  </div>
</form>

<div class="alinha-meio">
  <button id="cadastrar-btn" (click)="entrar()">Entrar</button>
  <!-- DesabilitarBotao -->
</div>
