<ngx-spinner
  id="spinner-cadastro" bdColor="rgba(0, 0, 0, 0.8)" size="medium"
  color="#ffffff" type="ball-8bits" [fullScreen]="false"
>
</ngx-spinner>

<div class="container">

  <div class="col-3">
    <h1>Seja Bem-vindo ao Labs!</h1>
    <p>Crie sua conta agora mesmo.</p>
    <!-- <p class="text-small">Esqueci minha senha</p> -->
  </div>

  <div class="col-9">
    <h1>Crie sua conta</h1>
    <p>Preencha seus dados</p>

    <form [formGroup]="usuarioForm">
      <div>
        <label for="nome-input">Nome</label>
        <input type="nome" formControlName="nome" class="form-control" id="nome-input" placeholder="Digite seu nome" required>
      </div>
      <div>
        <label for="email-input">Email</label>
        <input type="email" formControlName="email" class="form-control" id="email-input" placeholder="Digite seu email" required>
      </div>
      <div>
        <label for="senha-input">Senha</label>
        <input type="password" formControlName="senha" class="form-control" id="senha-input" placeholder="Digite sua senha" required>
      </div>
    </form>

    <button id="cadastrar-btn" (click)="cadastrarUsuario()">Cadastrar</button>
  </div>

</div>
