<h1>Crie sua conta</h1>
<p>Preencha seus dados</p>

<div class="container">

  <form [formGroup]="usuarioForm" class="form">
    <div>
      <label for="nome-input">Nome</label>
      <input type="nome" formControlName="nome" class="form-control" id="nome-input" placeholder="Digite seu nome" required>
    </div>
    <div>
      <label for="email-input">Email</label>
      <input type="email" formControlName="email" class="form-control" id="email-input" placeholder="Digite seu email" required>
    </div>
    <div>
      <label for="senha-input">Senha</label>
      <input type="password" formControlName="senha" class="form-control" id="senha-input" placeholder="Digite sua senha" required>
    </div>
  </form>

  <div class="senhas">
    <h5 class="mb-4 fw-bold">Regras da senha</h5>
    <p id="tamanho" class="senha">Deve ter no mínimo 6 caracteres</p>
    <p id="especial" class="senha">Deve ter no mínimo um caractere especial</p>
    <p id="numero" class="senha">Deve ter no mínimo um número ('0'-'9')</p>
    <p id="maiusculo" class="senha">Deve ter no mínimo um caractere maiúsculo ('A'-'Z')</p>
    <p id="minusculo" class="senha">Deve ter no mínimo um caractere minúsculo ('a'-'z')</p>
  </div>

</div>

<div class="alinha-meio">
  <button id="btn-desabilitado" *ngIf="usuarioForm.invalid">Cadastrar</button>
  <button id="cadastrar-btn" *ngIf="!usuarioForm.invalid && nivelSenha > 4" (click)="cadastrarUsuario()">Cadastrar</button>
  <!-- TRABALHAR NESSA LOGICA -->
</div>
