.container {
  display: flex; /* Torna o contêiner um flexbox */
  justify-content: space-between; /* Espaça igualmente entre os dois elementos */
  align-items: flex-start; /* Alinha os itens ao topo */
}

.form {
  flex: 1; /* Faz o formulário ocupar a maior parte do espaço disponível */
  margin-right: 20px; /* Espaço entre o formulário e a seção de senhas */
}


form div {
  margin-bottom: 15px;
}

form label {
  display: block;
  margin-bottom: 5px;
  font-size: 0.9rem;
}

form input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 0.9rem;
}

button {
  padding: 10px 20px;
  background-color: rgba(110,162,223,1);
  border: none;
  color: white;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: rgba(219,151,181,1);
  transition: 0.7s;
}

#btn-desabilitado {
  background-color: gray;
  cursor: default;
}

.alinha-meio {
  display: flex;
  justify-content: center;
  align-items: center;
}

.senhas {
  flex: 1;
  padding: 20px;
  background-color: rgba(110, 163, 223, 0.11);
  border-radius: 8px;
}

.senhas h5 {
  font-size: 1.1rem;
}

.senhas p {
  margin: 5px 0;
  font-size: 0.85rem;
}

.sucesso {
  color: green;
}

.falha {
  color: red;
}
